html {
  font-family: 'Source Sans Pro', sans-serif;
}

.homepage {
  text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.navbar {
  background-color: #690E73;
  width: 100%;
}


.navbar a:link, a:visited {
    display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #690E73;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar a:hover, a:active {
    background-color: #7A991A;
}

.index_main_body{
  margin: auto;
  position: absolute;
  top: 150px;
  left: 10px;
  padding: 20px;
  font-family: sans-serif;
}


*{
padding : 0;
margin : 0;
border : 0;
}
body{
background-image : url(' bi-background-frame.png ');
background-attachment : fixed;
background-size : 100% auto;
}
.blended_grid{
display : block;
width : 900px;
overflow : auto;
margin : 30px auto 0 auto;
}
.pageHeader{
background-color : rgba(0, 0, 0, 0.5);
float : left;
clear : none;
height : 200px;
width : 900px;
}
.pageContent{
background-color : rgba(0, 0, 0, 0.5);
float : left;
clear : none;
height : 600px;
width : 700px;
}
.pageLeftMenu{
background-color : rgba(0, 0, 0, 0.5);
float : left;
clear : none;
height : 600px;
width : 200px;
}
.pageFooter{
background-color : rgba(0, 0, 0, 0.5);
float : left;
clear : none;
height : 100px;
width : 900px;
}











