<div class="index_register">
  <form action='/register' method="post">
      Email: <input id = "email" type="text" name="email" placeholder="nichole@blacklit.com">
      <br>
      Password: <input id = "password" type="password" name="password" placeholder="******">
      <br>
      <input type="submit" name="register" value="Register" id="register">
  </form>
</div>
