<title>Find Books for Your Kids</title>
<header>Welcome <%= session_current_user.email%></header>
<div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand navbar-brand-centered"></div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-brand-centered">
          <ul class="nav navbar-nav navbar-right" id="sidebar">
            <li><a id="elementary">Elementary</a></li>
            <li><a id="teens">Teens</a></li>
            <li><a id="popular">Popular</a></li>
            <li><a id="detective">Detectives</a></li>
            <li><a id = "logout" href="/logout">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
<div id="session_check"></div>
<div id="book_container"></div>
<div id="widget"></div>

<!-- Sidebar -->
<!-- <div id="wrapper" class="active">
  <div id="sidebar-wrapper">
    <ul id="sidebar_menu" class="sidebar-nav">
     <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
   </ul>
   <ul class="sidebar-nav" id="sidebar">
    <li><a id="elementary">Elementary<span></span></a></li>
    <li><a id="teens">Teens<span></span></a></li>
    <li><a id="popular">Popular<span></span></a></li>
    <li><a id="detective">Detectives<span></span></a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</div>
</div> -->

<!-- navbar -->

