<title>Find Books for Your Kids</title>
<body>
  <div id="container">
    <div id="content">
      <div class="index_main_title">
        <% if session_current_user%>
        <h1 ><strong>Welcome, <%= session_current_user.email%></strong></h1>
        <h6 >Select a Category Below to Choose your Books

          <% end %>
      </div>
    </div>

      <div id="sidebar">
        sidebar content here
      </div>
  </div>
</body>
