<title>Find Books for Your Kids</title>
<body>
<div class="blended_grid">
<div class="pageHeader">
</div>
<div class="pageContent">
  <div class="index_main_title">
    <h1 align="center"><strong>Welcome Username</strong></h1>
    <h6 align="center">Select a Category Below to Choose your Books</div>
  </div>
</div>
<div class="pageLeftMenu">
</div>
<div class="pageFooter">
</div>
</div>
</body>
