<title>Find Books for Your Kids</title>
<h2>Welcome, <%= session_current_user.email%></h2>
<div id="session_check"></div>
<div id="book_container"></div>
<div id="widget"></div>

<h6 >Select a Category Below to Choose your Books</h6>
<!-- Sidebar -->
<div id="wrapper" class="active">
  <div id="sidebar-wrapper">
    <ul id="sidebar_menu" class="sidebar-nav">
     <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
   </ul>
   <ul class="sidebar-nav" id="sidebar">
    <li><a id="elementary">Elementary<span></span></a></li>
    <li><a id="teens">Teens<span></span></a></li>
    <li><a id="popular">Popular<span></span></a></li>
    <li><a id="detective">Detectives<span></span></a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</div>
</div>

