<meta charset="utf-8">

<title> Burglary Data </title>

<head>
  <script src="/js/d3_burglary.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>

</head>


<body>
  <div id="container">
    <h1>Burglary Data</h1>
    <h2>Search Criteria:</h2>
    <ul class="search-criteria">
      <li>Undergraduate Enrollment: '30,000 and greater'</li>
      <li>Institution State: 'CA'</li>
      <li>Type of institution: 'Public, 4-year or above'</li>
      <li>With Student Residential Facilities</li>
    </ul>

  </div>

  <button class="view">View It!</button>
  <input type="text" name="year" placeholder="Year">
</body>
