<div id= "elementary">
  <%@elementary.each do |book_image|%>
  <table class = "cover_photos" id ="<%= book_image.id%>"><tr><td><img src="<%= book_image.img_url%>"> <p><%= book_image.title%></p></td></tr></table></center>
  <%end%>
</div>
