<title> Index page </title>

<head>
<script src="/js/d3.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>

</head>
<body>

<div id="crime-select">
  <a href="">Arson</a>
  <a href="">Burglary</a>
  <a href="/data/sexoffenses">Sex Offenses</a>
  <a href="">Vehicle Theft</a>
</div>

<div id="section">
<h2>London</h2>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec iaculis sem sed nisl ullamcorper blandit gravida eu dolor. Morbi tincidunt augue eu risus aliquam, vitae finibus elit gravida. Proin mi nisi, tempus non euismod non, consequat ut nibh. Suspendisse scelerisque sit amet augue vitae euismod. Duis congue massa est, quis facilisis ante rutrum ut. Maecenas dapibus dolor at nibh iaculis, rutrum blandit est consectetur. Vivamus at feugiat ipsum. Sed sollicitudin lacus id tortor dictum gravida. Cras lobortis tellus vel mollis scelerisque.
</p>
<p>
Cras eu libero auctor, blandit mauris sed, rutrum nibh. Mauris tincidunt interdum orci quis rutrum. Nunc tempor justo eu diam tincidunt, nec varius metus euismod. In commodo nisl convallis sollicitudin rhoncus. Integer imperdiet nulla quis lectus facilisis sollicitudin. Vestibulum feugiat dolor et orci ultrices, ut vulputate magna feugiat. Pellentesque dictum dapibus quam in cursus. Sed fermentum leo at leo ultricies tempor ac quis augue. Nulla et lorem ut lectus gravida elementum.</p>
</div>


</body>

