<title> Welcome to Black Edition </title>
 <h1> Black Edition </h1>
 <div id="background_image"></div>

<head>
  <div class="index_main_title">
  </div>

</head>

<body>
  <div class="index_main_body">

    <form action='/login' method="post">
      Email: <input id = "email" type="text" name="email" placeholder="nichole@blacklit.com">
      <br><br>
      Password: <input id = "password" type="password" name="password" placeholder="******">
      <br><br>
      <input type="submit" name="login" value="Log in!">
      <input type="submit" name="register" value="Register">
      <%#= erb :_register%>
    </form>
    <br><br><br>
  </div>
</body>
<script>






