<title> Welcome to Black Edition </title>
<header>Black Edition </header>
<!-- <h1> Black Edition </h1> -->
<div id="background_image"></div>


<div class="index_main_body">
  <button><h2>Login</h2></button>
  <form action='/login' method="post" id="login">
    Email: <input id = "email" type="text" name="email" placeholder="nichole@blacklit.com">
    <br>
    Password: <input id = "password" type="password" name="password" placeholder="******">
    <br>
    <input type="submit" name="login" value="Log in!">
  </form>
</div>

<div class="index_register">
  <button><h2>Register as a New User</h2></button>
  <form action='/register' method="post" id="login" class='reg'>
    Email: <input id = "email" type="text" name="email" placeholder="nichole@blacklit.com">
    <br>
    Password: <input id = "password" type="password" name="password" placeholder="******">
    <br>
    <input type="submit" name="register" value="Register" >
  </form>
</div>



<!-- registration -->









