<title> Index page </title>

<head>
  <div class="index_main_title">
    <h1 align="center"><strong>Welcome to <em>Data Vizion</em></strong></h1>
    <h6 align="center">A Data Vizualization Site...</div>
  </div>

</head>


<body>
  <div class="index_main_body">

    <form on submit="return false" >
      Email: <input type="text" name="email" placeholder="nichole@datavizion.com">
      <br><br>
      Password: <input type="password" name="password" placeholder="******">
      <br><br>
      <input id="login" type="submit" value="Log in!">
    </form>
    <br><br><br>
    <form action='/homepage' method="post">
      Enter Your Email: <id ="email" input type="text" name="user_name" placeholder="User Name">
      <br><br>
      Choose a Password: <id ="password" input type="password" name="password" placeholder="Password">
      <br><br>
      <input type="submit" value="Register!">
    </form>

  </body>
