<title> Index page </title>

<head>
  <div class="index_main_title">
    <h1 align="center"><strong>Welcome to Black Lit</strong></h1>
    <h6 align="center">A Site to Find books by and about Black people...</div>
  </div>

</head>


<body>
  <div class="index_main_body">

    <form action='/login' method="post">
      Email: <input type="text" name="email" placeholder="nichole@blacklit.com">
      <br><br>
      Password: <input type="password" name="password" placeholder="******">
      <br><br>
      <input type="submit" value="Log in!">
    </form>
    <br><br><br>
    <form action='/register' method="post">
      Enter Your Email: <input type="text" name="user_name" placeholder="User Name">
      <br><br>
      Choose a Password: <input type="password" name="password" placeholder="Password">
      <br><br>
      <input type="submit" value="Register!">
    </form>
</body>
