<div class="page">
  <div class="content">

<h1>Welcome to Film Quality</h1>
  <form class="login" action="/login" method="post">
        User Name:
        <input class="text" type="text" name="username"><br>
        Password:
        <input class="text" type="password" name="password">
        <input class="submit" type="submit" value="Login">
  </form>

  <p>New to Film Quality? <a href="/register">Register here</a>.
  </div>
</div>
