
<div class="profile_header">
  <h2 align ="center">Welcome <%= session_current_user.handle.capitalize%></h2>
</div>

<div class="profile_picture">
  <p> img here </p>
</div>

<div id="profile_name"> <%= session_current_user.name.titleize %>
</div>


<div class="profile_wishes" align="center">
  <h4> Here are your wishes: </h4>
    <% @wishes = Wish.where(user_id: session_current_user.id) %>
    <% @wishes.each do |wish| %>
    <p><%= wish.content %></p>
    <% end %>
</div>

