<form action="/dogs/new/<%=@rate_dog.id %>" method="post">

  <div class="padding"></div>
  <h2>Rate <%= @rate_dog.name %>!</h2>
  <br>
  <br>

  <input type="text" name="name" value="<%= @rate_dog.name%>">

  <input type="text" name="breed" value="<%= @rate_dog.breed %>">
  <div class="padding"></div>

  <input type="checkbox" name="rating" value="affectionate">Affectionate <br><br>

  <input type="checkbox" name="rating" value="independent">Independent <br><br>

  <input type="checkbox" name="rating" value="playful">Playful<br><br>

  <input type="checkbox" name="rating" value="timid">Timid<br><br>

  <input type="checkbox" name="rating" value="timid">Timid<br><br>

  <input type="checkbox" name="rating" value="good_with_kids">Good with Kids<br><br>

  <input type="checkbox" name="rating" value="high_energy">High Energy<br><br><br><br>

  <button type="submit"> Submit </button>

  <div class="padding"></div>

</form>
