<div class="register_container">

<% if @new_user != nil %>
  <p>Invalid Handle!</p>
<% end %>

  <form action='/register' method="post">
    Choose your User Name: <input type="text" name="handle" placeholder="User Name">
    <br><br>
    Pick a good Password: <input type="password" name="password" placeholder="Password">
    <br><br>
    What's your Name: <input type="text" name="name" placeholder="Full name">
    <br><br>
    What's your Gender: <input type="text" name="gender" placeholder="optional">
    <br><br>
    What's your Birthday: <input type="text" name="age" placeholder="dd/mm/yyyy">
    <br><br>
    What's your Favorite Color: <input type="text" name="profile_picture" placeholder="dd/mm/yyyy">
    <br><br>
    <input type="submit" value="Register!">
  </form>

</div>