<div class="page">
  <div class="content">
<h1>Howdy There, New User</h1>
  <p>Please fill in your new account information:</p>
  <form class="login" action="/register" method="post">
        Name:
        <input class="text" type="text" name="user_name"><br>
        Email:
        <input class="text" type="text" name="user_name"><br>
        Desired User Name:
        <input class="text" type="text" name="user_name"><br>
        Desired Password:
        <input class="text" type="password" name="password">
        <input class="submit" type="submit" value="Register">
  </form>
</div>
</div>
