<meta charset="utf-8">

<title> Index page </title>

<head>
  <script src="/js/d3.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>

</head>


<body>

  <button class="view">View It!</button>
  <input type="text" name="year" placeholder="Year">
</body>
